@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.daymode {
  background: linear-gradient(175deg, #fff4cf 0%, #ffe897 6%, #ffdd69 35%, #ffc90d 100%);
}

.nightmode {
  background: #3D2BEE;
}

.sun-moon {
  cursor: pointer;
  position: fixed;
  left: 20px;
  width: 100px;
  height: 45px;
  padding: 5px;
  border-radius: 45px;
  border: 3px solid #1a237e;
  background-color: #3f51b5;
  overflow: hidden;
  -webkit-transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.circle {
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.small {
  width: 30px;
  height: 30px;
  background: #3f51b5;
  left: 20px;
  top: 3px;
  -webkit-transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.large {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 3px solid #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 7px;
  -webkit-transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.sun-moon input {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.move {
  background-color: #fff;
  border-color: #f3909a;
}

.move .large {
  left: 50px;
  background: yellow;
  border-color: orange;
}

.move .small {
  left: 60px;
  top: 55px;
  background-color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #444444;
  background: linear-gradient(175deg, #d0ccf3 0%, #9e97ea 6%, #7c71e6 35%, #3d2bee 100%);
}

.door {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.door-p {
  color: #FFDD69;
  font-size: 4em;
  position: fixed;
  padding: 1.6rem;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
          box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.door-p p {
  padding: 0.8rem;
}

.door-img {
  width: 100vw;
  height: 100vh;
  z-index: 6;
}

.door-open {
  overflow: hidden;
}

.slidein {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slidein {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.header {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  font-weight: 700;
  margin-top: 9rem;
  margin-bottom: 13rem;
}

.header::after {
  position: absolute;
  content: '';
  border-bottom: 18px solid #FFDD69;
  width: 25rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 3.5rem;
  top: -2rem;
  z-index: -1;
}

.dropdown-menu {
  display: none;
}

.navigation {
  background-color: #FFE897;
  position: sticky;
  position: -webkit-sticky;
  height: 130px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid #1a1a1a4b;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-box-shadow: 5px 5px 15px 5px #0000005e;
  box-shadow: 5px 5px 15px 5px #0000005d;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 15px;
  z-index: 1;
  margin: 0 0.8rem;
}

.navigation__button {
  height: 12em;
}

.navigation__list-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin-right: 2.4rem;
}

.navigation__item a {
  margin-left: 35px;
  text-decoration: none;
  color: #444444;
  font-weight: bold;
  font-size: 2.25rem;
}

.navigation__item a:visited {
  color: #444444;
}

.navigation__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 100ms;
  transition: 100ms;
}

.apropos {
  margin: auto 5%;
}

.apropos__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile {
  -webkit-box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
          box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF4CF;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
  padding: 0.8rem;
  margin: auto 0;
  min-width: 50vw;
  max-width: 500px;
  -webkit-animation: moveInRight 10s cubic-bezier(0.21, 1.11, 0.81, 0.99);
          animation: moveInRight 10s cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

.profile__picture {
  max-width: 500px;
  width: 60%;
  border-radius: 15px;
  min-height: auto;
  padding-bottom: 0.8rem;
}

.profile__content {
  width: 90%;
  padding: 0.8rem;
  background-color: #FFE897;
  border-radius: 15px;
  line-height: 35px;
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0.5%;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills__item-img {
  width: 5em;
  height: 5em;
}

.skills__item-name {
  text-align: center;
  font-size: 1.05rem;
  padding: 0.8rem;
}

.skills__wrapper {
  background-color: #FFF4CF;
  border-radius: 15px;
  padding: 1.6rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-animation: scrollTxt 9s cubic-bezier(0.21, 1.11, 0.81, 0.99);
          animation: scrollTxt 9s cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

.skills__wrapper-2 {
  -webkit-animation: scrollTxt2 9s cubic-bezier(0.21, 1.11, 0.81, 0.99);
          animation: scrollTxt2 9s cubic-bezier(0.21, 1.11, 0.81, 0.99);
  background-color: #FFF4CF;
  border-radius: 15px;
  padding: 1.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@-webkit-keyframes scrollTxt {
  0% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

@keyframes scrollTxt {
  0% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

@-webkit-keyframes scrollTxt2 {
  0% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

@keyframes scrollTxt2 {
  0% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

.projets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projets__content-1 {
  background-color: #FFF4CF;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
  padding: 0.8rem;
  margin: 1.6rem;
  -webkit-box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
          box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
}

.projets__content-1--title {
  font-weight: bold;
  padding: 0.8rem;
}

.projets__content-1--info {
  padding: 0.8rem;
  line-height: 35px;
}

.projets__content-1--img {
  width: 60%;
  height: auto;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px #0000005d;
          box-shadow: 5px 5px 15px 5px #0000005d;
  margin: 0 5%;
}

.projets__content-1--img:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 75%;
  height: auto;
}

.projets__content-github {
  width: 50px;
}

.contact__wrapper {
  -webkit-box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
          box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF4CF;
  border-radius: 15px;
  padding: 1.6rem;
  text-align: center;
  line-height: 35px;
  margin-bottom: 10%;
}

.contact__wrapper-p {
  padding-bottom: 1.6rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-name, .contact__form-email {
  border: none;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
}

.contact__form-message {
  border: none;
  padding: 0.8rem;
}

.contact__button {
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
  margin-top: 3%;
  cursor: pointer;
  background-color: #FFDD69;
  border: none;
  color: #444444;
  border-radius: 15px;
}

.contact__button:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.footer {
  background-color: #FFE897;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  padding: 0.8rem;
  border-radius: 15px;
  margin: 0.8rem;
  margin-top: 2.4rem;
  border-bottom: 1px solid #1a1a1a4b;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-box-shadow: 5px 5px 15px 5px #0000005e;
  box-shadow: 5px 5px 15px 5px #0000005d;
}

.footer__fleche-img:hover {
  background-color: #FFF4CF;
}

.footer__wrapper__fleche-img, .footer__wrapper__github-img, .footer__wrapper__email-img {
  width: 50px;
  padding: 0.8rem;
  border-radius: 15px;
}

.footer__wrapper__fleche-img:hover, .footer__wrapper__github-img:hover, .footer__wrapper__email-img:hover {
  background-color: #FFF4CF;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.footer__wrapper__github-img, .footer__wrapper__email-img {
  margin-left: 30px;
}

@media (min-width: 641px) and (max-width: 1125px) {
  .door-p {
    font-size: 2em;
  }
  .door-p p {
    padding: 0.8rem;
  }
  .dropdown-menu-active {
    color: black;
    width: 200px;
    height: 300px;
    display: block;
    position: absolute;
    top: 85px;
    right: 30px;
    background-color: #FFF4CF;
    border-radius: 15px;
    opacity: 0.8;
    -webkit-box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
            box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
  }
  .dropdown-menu-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown-menu__item {
    display: block;
    text-align: center;
    margin-top: 40px;
  }
  .dropdown-menu__item a {
    text-decoration: none;
  }
  .apropos__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__list-desktop,
  ul,
  li {
    display: none;
  }
  .burger {
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: relative;
    right: 30px;
  }
  .burger span {
    width: 100%;
    height: 4px;
    background-color: #444444;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .burger span::before,
  .burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #444444;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .burger span::before {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .burger span::after {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .burger.active span {
    background-color: transparent;
  }
  .burger.active span::before {
    -webkit-transform: translateY(0px) rotateZ(45deg);
            transform: translateY(0px) rotateZ(45deg);
  }
  .burger.active span::after {
    -webkit-transform: translateY(0px) rotateZ(-45deg);
            transform: translateY(0px) rotateZ(-45deg);
  }
  .contact__wrapper {
    min-width: 485px;
  }
  .profile__content, .projets__content-1, .contact__wrapper {
    line-height: 35px;
  }
}

@media only screen and (max-width: 640px) {
  .door-p {
    font-size: 2em;
  }
  body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.75rem;
  }
  .dropdown-menu-active {
    width: 100px;
    height: 200px;
    display: block;
    position: absolute;
    top: 50px;
    right: 30px;
    background-color: #FFF4CF;
    border-radius: 15px;
    opacity: 0.8;
    -webkit-box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
            box-shadow: 0px 10px 1px #FFF4CF, 0 10px 20px #FFF4CF;
  }
  .dropdown-menu-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown-menu__item {
    display: block;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    color: #444444;
    font-weight: bold;
  }
  .dropdown-menu__item a {
    text-decoration: none;
  }
  .navigation {
    height: 60px;
  }
  .header {
    font-size: 2rem;
  }
  .header {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .header::after {
    position: absolute;
    content: '';
    border-bottom: 18px solid #FFDD69;
    width: 9rem;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 3.5rem;
    top: -1rem;
    z-index: -1;
  }
  .navigation__list-desktop,
  ul,
  li {
    display: none;
  }
  .apropos__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .apropos {
    width: 80%;
    margin: auto;
  }
  .skills {
    gap: 2em;
  }
  .skills__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin: 0.5%;
  }
  .skills__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills__item-img {
    width: 3em;
    height: 3em;
    margin: auto;
  }
  .skills__item-name {
    text-align: center;
    font-size: 0.6rem;
    padding: 0.32rem;
  }
  .skills__wrapper {
    background-color: #FFF4CF;
    border-radius: 15px;
    padding: 0.8rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-animation: scrollTxt 9s cubic-bezier(0.21, 1.11, 0.81, 0.99);
            animation: scrollTxt 9s cubic-bezier(0.21, 1.11, 0.81, 0.99);
  }
  .skills__wrapper-2 {
    -webkit-animation: scrollTxt2 9s cubic-bezier(0.21, 1.11, 0.81, 0.99);
            animation: scrollTxt2 9s cubic-bezier(0.21, 1.11, 0.81, 0.99);
    background-color: #FFF4CF;
    border-radius: 15px;
    padding: 0.8rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .burger {
    width: 42px;
    height: 24px;
    cursor: pointer;
    position: relative;
    right: 30px;
  }
  .burger span {
    width: 100%;
    height: 4px;
    background-color: #444444;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .burger span::before,
  .burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #444444;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .burger span::before {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .burger span::after {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .burger.active span {
    background-color: transparent;
  }
  .burger.active span::before {
    -webkit-transform: translateY(0px) rotateZ(45deg);
            transform: translateY(0px) rotateZ(45deg);
  }
  .burger.active span::after {
    -webkit-transform: translateY(0px) rotateZ(-45deg);
            transform: translateY(0px) rotateZ(-45deg);
  }
  .skills__wrapper {
    -webkit-animation: scrollTxt 2s cubic-bezier(0.21, 1.11, 0.81, 0.99);
            animation: scrollTxt 2s cubic-bezier(0.21, 1.11, 0.81, 0.99);
  }
  .skills__wrapper-2 {
    -webkit-animation: scrollTxt2 2s cubic-bezier(0.21, 1.11, 0.81, 0.99);
            animation: scrollTxt2 2s cubic-bezier(0.21, 1.11, 0.81, 0.99);
  }
  .profile__content, .projets__content-1, .contact__wrapper {
    line-height: 18px;
  }
  .projets__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projets__content-1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projets__content-1--info {
    padding: 0.3em;
  }
  .projets__content-1--img {
    width: 90%;
    height: auto;
  }
  .projets__content-1--img:hover {
    pointer-events: none;
  }
  .projets__content-github {
    width: 50px;
  }
  .contact__wrapper {
    width: 80%;
  }
  .contact__wrapper-p {
    padding-bottom: 1.6rem;
  }
  .contact input {
    width: 90%;
  }
  .contact textarea {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */